<div class="bg-purple-700 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
    <div class="font-bold mr-8">🔥 Hot Deals!</div>
    <div class="align-items-center hidden lg:flex">
        <span class="line-height-3">20% discount on all our catalog</span>
    </div>
    <a class="flex align-items-center ml-2 mr-8">
        <a class="text-white" href="#"><span class="underline font-bold">Learn More</span></a>
    </a>
    <a pRipple class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150" style="width:2rem; height: 2rem">
        <i class="pi pi-times"></i>
    </a>
</div>

<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
        <section>
            <span class="block text-6xl font-bold mb-1 animate__animated animate__slideInLeft" >SKINSHINE </span>
            <div class="text-6xl text-purple-700 font-bold mb-3 animate__animated animate__slideInLeft">We Increase Your Beauty</div>
            <button pButton pRipple label="Learn More" type="button" class="mr-3 p-button-raised animate__animated animate__fadeIn"></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="./assets/images/banner-background2.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>


<div class="grid pl-8">
    <div class="col animate__animated animate__rubberBand">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/images/light-card-image.png">
            </ng-template>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
        </p-card>
    </div>
    <div class="col animate__animated animate__rubberBand">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/images/light-card-image2.png">
            </ng-template>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
        </p-card>
    </div>
    <div class="col animate__animated animate__rubberBand">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/images/light-card-image3.png">
            </ng-template>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
        </p-card>
    </div>
    <div class="col animate__animated animate__rubberBand">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/images/light-card-image4.png">
            </ng-template>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
        </p-card>
    </div>
</div>

<div class="card">
    <div class="card-container blue-container overflow-hidden">
        <div class="bg-auto bg-no-repeat bg-center border-round h-20rem w-full" style="background-image: url('./assets/images/Skshop-layout.png');background-attachment: fixed"></div>
    </div>
</div>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
        <div class="text-blue-600 font-bold mb-3"><i class="pi pi-instagram"></i>&nbsp;POWERED BY INSTAGRAM</div>
        <div class="text-900 font-bold text-5xl mb-3">follow us on our instagram store page</div>
        <button pButton pRipple label="Join Now" icon="pi pi-instagram" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
    </div>
</div>
