<div class="bg-purple-700 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
    <div class="font-bold mr-8">🔥 Hot Deals!</div>
    <div class="align-items-center hidden lg:flex">
        <span class="line-height-3">20% discount on all our catalog</span>
    </div>
    <a class="flex align-items-center ml-2 mr-8">
        <a class="text-white" routerLink="/products/"><span class="underline font-bold">Learn More</span></a>
    </a>
    <a pRipple class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150" style="width:2rem; height: 2rem">
        <i class="pi pi-times"></i>
    </a>
</div>

<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
        <section>
            <span class="block text-6xl font-bold mb-1 animate__animated animate__slideInLeft" >SKINSHINE </span>
            <div class="text-6xl text-purple-700 font-bold mb-3 animate__animated animate__slideInLeft">We Increase Your Beauty</div>
            <button pButton pRipple type="button" label="Add to cart" class="p-button-outlined p-button-help animate__animated animate__slideInLeft" routerLink="/products/63595a13ae4669ca2a32d9c1"></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="./assets/images/banner-background2.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>

<div class="p-grid">
    <div class="surface-section px-3 py-4 md:px-3 lg:px-4 text-center pt-0">
        <img alt="Card"  style="padding-left: 70px" src="assets/images/logo100.png">
        <span class="block text-4xl font-bold mb-4 pl-8 pt-4 animate__animated animate__slideInLeft" style="align-items: center">Blog Post</span>
    </div>
    <div class="grid pl-8 animate__animated animate__zoomInDown">
        <div class="col animate__animated animate__rubberBand">
            <p-card header="Nira Pro Laser " subheader="Exclusive launch" [style]="{width: '360px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/images/light-card-image.png">
                </ng-template>
                <p>Reduce the appearance of 11 eyebrows, expression lines, brow furrows and more with results you'll love in less than 90 days.</p>
                <button pButton pRipple type="button" label="Read more" class="p-button-help p-button-text"></button>
            </p-card>
        </div>
        <div class="col animate__animated animate__rubberBand">
            <p-card header="Dr Harris" subheader="Q&r Dr Harris" [style]="{width: '360px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/images/light-card-image2.png">
                </ng-template>
                <p>The Dr. Harris Anti-Wrinkle Sleep Mask is so easy to use anywhere, anytime. Here's how the mask can improve your sleep.</p>
                <button pButton pRipple type="button" label="Read more" class="p-button-help p-button-text"></button>
            </p-card>
        </div>
        <div class="col animate__animated animate__rubberBand">
            <p-card header="Dermalux" subheader="Q&R Dermalux" [style]="{width: '360px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/images/light-card-image3.png">
                </ng-template>
                <p>Dermalux Flex MD is the world's most powerful home use LED device and addresses many facial and body skin concerns.</p>
                <button pButton pRipple type="button" label="Read more" class="p-button-help p-button-text"></button>
            </p-card>
        </div>
        <div class="col animate__animated animate__rubberBand">
            <p-card header="JOVS" subheader="JOVS Laser" [style]="{width: '360px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/images/light-card-image4.png">
                </ng-template>
                <p>If you’re looking to remove hair from your body, you may have come across at-home hair removal devices that work by using IPL.</p>
                <button pButton pRipple type="button" label="Read more" class="p-button-help p-button-text"></button>
            </p-card>
        </div>
    </div>
</div>
<div class="card">
    <div class="surface-section px-3 py-4 md:px-3 lg:px-4 text-center pt-0">
        <img alt="Card"  style="padding-left: 70px" src="assets/images/logo100.png">
        <span class="block text-4xl font-bold mb-4 pl-8 pt-4 animate__animated animate__slideInLeft" style="align-items: center">About US</span>
    </div>
    <div class="card-container blue-container overflow-hidden">
        <div>
            <div class="grid grid-nogutter surface-section text-800">
                <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
                    <section>
                        <span class="block text-6xl text-purple-700 font-bold mb-1 animate__animated animate__slideInLeft" >SKINSHINE </span>

                        <p style="font-size: 1.4em">Skinshine an ecommerce website dedicated to cosmetic products developed by Mustapha Abourar Student at Holberton School<br>
                            "Before becoming an auto-entrepreneur I created an online store with an online store creation platform after this experience I decided to study web development which will allow me to create my own store with my own means and tools.
                            Skinshine is an online store offering a wide variety of products and a free delivery service.</p><br>
                        <button pButton pRipple type="button" label="Contact US" class="p-button-outlined p-button-help" routerLink="/contact"></button>
                    </section>
                </div>
                <div class="col-12 md:col-6 overflow-hidden">
                    <img src="./assets/images/aboutus1.jpg" alt="Image" class="md:ml-auto block md:h-full">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-2xl">
        <span class="text-900">EVERYTHING </span>
        <span class="text-blue-600">TO SECURE YOUR EXPERIENCE</span>
    </div>
    <div class="text-700 text-sm mb-6">Satisfaction Quarantee</div>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-shield text-4xl text-purple-700"></i>
            </span>
            <div class="text-900 mb-3 font-medium">SECURE CHECKOUT</div>
            <span class="text-700 text-sm line-height-3">SSL Safe payment</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-sort-alt text-4xl text-purple-700"></i>
            </span>
            <div class="text-900 mb-3 font-medium">EXCHANGE</div>
            <span class="text-700 text-sm line-height-3">Exchange until 2 product</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-truck text-4xl text-purple-700"></i>
            </span>
            <div class="text-900 mb-3 font-medium">SHIPPING</div>
            <span class="text-700 text-sm line-height-3">Free Shipping World Wide</span>
        </div>
    </div>
</div>


<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
        <div class="text-blue-600 font-bold mb-3 animate__animated animate__fadeIn"><i class="pi pi-instagram"></i>&nbsp;POWERED BY INSTAGRAM</div>
        <div class="text-900 font-bold text-5xl mb-3 animate__animated animate__fadeIn">follow us on our instagram store page</div>
        <button pButton pRipple label="Join Now" icon="pi pi-instagram" class="font-bold px-5 py-3 p-button-raised p-button-help p-button-rounded white-space-nowrap animate__animated animate__rubberBand"></button>
    </div>
</div>
