<hr class="horiz-line-2">
<div class="footer-second">
    <div class="footer-content grid">
        <div class="about-footer col-7">
            <div class="logo-footer">
                <img src="assets/images/logo1002.png" style="" alt="">
            </div>
            <div class="text-footer">
                <p style="font-size: 1.2em">SkinShine an ecommerce webapp prototype developed by <br> <span><i>Mustapha Abourar</i></span> Full Stack developer student @ <span>Holberton School</span></p>
                <a href="https//instagram.com/skinshinefr_"> <i class="pi pi-instagram mx-2" style="font-size: 1.4em;" ></i></a>
            </div>
        </div>
        <div class="links-footer col-3 text-left">
            <ul class="">
                <span><li><a routerLink="/" style="font-size: 1.3em">Home</a></li></span>
                <span><li><a routerLink="/products" style="font-size: 1.3em">Products</a></li></span>
                <span><li><a routerLink="/contact" style="font-size: 1.3em">Contact</a></li></span>
                <span><li><a routerLink="/contact" style="font-size: 1.3em">Contact</a></li></span>
            </ul>
        </div>
        <div>
            <img src="assets/images/master.png" style="" alt="">
            <img src="assets/images/paypal.png" style="" alt="">
            <img src="assets/images/strip.png" style="" alt="">
            <img src="assets/images/visa.png" style="" alt="">
        </div>
    </div>
</div>
