
<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">JOVS presented by SkinShine</span>
            <div class="text-6xl font-bold mb-3" style="color: #016566">2-IN-1 BEAUTY DEVICE</div>
            <p class="mt-0 mb-4 text-700 line-height-3">JOVS Venus Pro is the first hair removal device of its kind to remove unwanted hair and treat signs of ageing. </p>
            <button pButton pRipple label="Discover" type="button" class="mr-3 p-button-raised" routerLink="products/635e91e7ef7a2e656902e06b"></button>
            <button pButton pRipple label="See Video" type="button" class="p-button-outlined" ></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/images/banner-jovs .jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>
<skshop-categories-banner></skshop-categories-banner>
<skshop-featured-products></skshop-featured-products>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
        <div class="text-blue-600 font-bold mb-3 animate__animated animate__fadeIn"><i class="pi pi-instagram"></i>&nbsp;POWERED BY INSTAGRAM</div>
        <div class="text-900 font-bold text-5xl mb-3 animate__animated animate__fadeIn">follow us on our instagram store page</div>
        <button pButton pRipple label="Join Now" icon="pi pi-instagram" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap animate__animated animate__rubberBand"></button>
    </div>
</div>
<ui-banner></ui-banner>

