header {
    margin-bottom: 15px;

    .search {
        padding-top: 45px;
    }

    .navigation {
        padding-top: 55px;
    }

    .tools {
        padding-top: 51px;

        .pi {
            margin-right: 10px;
        }
    }
}
